<div class="container">
    <div class="row" ng-init="init()">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Detalhes de pagamento
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                      <div ng-class="(method == 'cartao') ? 'btn-info' : ''" class="col-6 btn" ng-click="method='cartao'">
                        Cartão
                      </div>
                      <div ng-class="(method == 'boleto') ? 'btn-info' : ''" class="col-6 btn" ng-click="method='boleto'">
                        Boleto
                      </div>
                    </div>
                    <div class="row">

                    <!-- Cartão -->
                    <div ng-show="method=='cartao'" style="margin-top:15px" class="col-4">
                      <form role="form">
                      <div class="form-group">
                          <label for="cardNumber">
                              Numero do Cartão</label>
                          <div class="input-group">
                              <input type="text" class="form-control" id="cardNumber" ng-model="cartao_credito.numero_cartao" placeholder="Numero de cartão válido"
                                  required autofocus />
                              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="cardName">
                              Nome do Proprietário</label>
                          <div class="input-group">
                              <input type="text" class="form-control" id="cardNname" ng-model="cartao_credito.nome_cartao" placeholder="Como escrito no cartão"
                                  required />
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-7 col-md-7">
                              <div class="form-group">
                                  <label for="expityMonth">
                                      Data de expiração</label>
                                  <div class="col-xs-6 col-lg-6 pl-ziro">
                                      <input type="text" class="form-control" id="expityMonth" ng-model="data_expiracao_mes" placeholder="MM" required />
                                  </div>
                                  <div class="col-xs-6 col-lg-6 pl-ziro">
                                      <input type="text" class="form-control" id="expityYear" ng-model="data_expiracao_ano" placeholder="YY" required /></div>
                              </div>
                          </div>
                          <div class="col-xs-5 col-md-5 pull-right">
                              <div class="form-group">
                                  <label for="cvCode">
                                      CV</label>
                                  <input type="password" class="form-control" id="cvCode" ng-model="cartao_credito.codigo_verificacao" placeholder="CV" required />
                              </div>
                          </div>
                      </div>
                      </form>
                    </div>

                    <!-- Boleto -->
                    <div ng-show="method=='boleto'" style="margin-top:15px" class="col-4">
                      <h4>Lembre-se que, caso você realize a compra utilizando o boleto, os produtos somente serão enviados após ele ser processado pelo sistema bancário, o que pode levar até 3 dias uteis após a data de pagamento. Isso é uma limitação do nosso sistema bancário.</h4>
                    </div>

                    <!-- Endereço -->
                    <div class="col-4" style="margin-top:15px">
                      <form role="form">
                      <div class="form-group">
                          <label for="destinataryName">
                              Nome do destinatario</label>
                          <div class="input-group">
                              <input type="text" class="form-control" id="destinataryName" ng-model="client.name"
                                  required />
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="address">
                              Endereço</label>
                          <div class="input-group">
                              <input type="text" class="form-control" id="address" ng-model="client.address.street"
                                  required />
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-3 col-md-3">
                              <div class="form-group">
                                  <label for="number">
                                      Numero</label>
                                      <input type="text" class="form-control" id="number" ng-model="client.address.number" required />
                              </div>
                          </div>
                          <div class="col-xs-8 col-md-8 pull-right">
                              <div class="form-group">
                                  <label for="cep">
                                      CEP</label>
                                  <input type="text" class="form-control" id="cep" ng-model="client.address.cep" required />
                              </div>
                          </div>
                      </div>
                      </form>
                    </div>

                    <!-- Review do pedido -->
                    <div class="col-4" style="margin-top:15px">
                      <p>Inserir aqui a review do pedido</p>
                    </div>
                </div>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><span class="badge pull-right"><span class="glyphicon glyphicon-usd"></span>{{total}}</span> Valor Final</a>
                </li>
            </ul>
            <br/>
            <a ng-click="pay()" ng-href="" class="btn btn-success btn-lg btn-block" role="button">Pagar</a>
        </div>
    </div>
</div>
